[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
markovify = "*"
mecab-python3 = "==0.996.5"
flask = "*"
flask-apscheduler = "*"
flask-cors = "*"
gunicorn = "==20.0.4"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.8.5"
